/* form part css */
body, html {
    background-color: #ebecf0;
}
body, p, input, select, textarea, button, option, select {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.2px;
    font-size: 16px;
}
#di, p {
    color: #babecc;
    text-shadow: 1px 1px 1px #fff;
}
form {
    padding: 10px;
    width: 420px;
    margin: 0 auto;
}
.segment {
    padding: 10px 0;
    text-align: center;
}
button, input, select {
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 320px;
    padding: 16px;
    background-color: #ebecf0;
    text-shadow: 1px 1px 0 #fff;
}
label {
    display: block;
    margin-bottom: 24px;
    width: 100%;
}
input, select {
    margin-right: 8px;
    box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
}
input:focus, select:focus {
    box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}
button {
    color: #61677c;
    font-weight: bold;
    box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-weight: 600;
}
button:hover {
    box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}
button:active {
    box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}
button .icon {
    margin-right: 8px;
}
button.unit {
    border-radius: 8px;
    line-height: 0;
    width: 48px;
    height: 48px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 8px;
    font-size: 19.2px;
}
button.unit .icon {
    margin-right: 0;
}
button.red {
    display: block;
    width: 100%;
    color: #ae1100;
}





/* display part css */

#sec::-webkit-scrollbar {
    display: none;
  }
#sec{
    height:320px;
    overflow: auto;

}
 
.todo-list {
	 /* background: #FFF; */
	 font-size: 18px;
	 max-width: 55em;
     /* width: 50%; */
     color: black;
	 margin: auto;
	 padding: 0.5em 1em;
	 box-shadow: 0 5px 30px rgba(0,0,0,0.1);
     transition: 0.5s all ease-in-out;
}

.todo-list:hover{
    background-color: gray;
    transform: scale(1.05);
    color: white;
}

 .todo {
	 display: block;
	 position: relative;

	 margin: 0 auto;
	 cursor: pointer;
	 border-bottom: solid 1px #ddd;
}


 .todo:last-child {
	 border-bottom: none;
}



.catesec{
    color: black;
    padding: 10px;
    height: 20%;
    /* border: 1px solid black; */
    border: 1px solid #ccc;
    background-color: chartreuse;
    border-radius: 10px;
}

.Education{
    background-color: #00FFFF;
}

.Work{
    background-color: #FFEBCD;
}

.Debit{
    background-color: cyan;
}

.Credit{
    background-color: deepskyblue;
}

.icon i{
    color: black ;
    transition: 0.5s all ease-in-out;
}


 
 